.large-hero {
  border-bottom: 10px solid $mainPurple;
  position: relative;

  &__family-block {
    width: 20%;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    position: relative;
    top: 0;
  }

  &__image {
  display: block;

    @mixin atMedium {
      width: 100%;
    }
  }


  &__text-content {
    padding-top: 88px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    background-color:rgba(192,192,192,0.4);

    @mixin atMedium {
      padding-top: s60px;
      background-color:rgba(192,192,192,0.4);
    }
  }

  &__title {
    font-weight: 300;
    color: $mainPurple;
    text-shadow: 1px 2px 0 rgba(255, 255, 255, .3);
    margin: 0;
    font-size: 1.4rem;


    @mixin atSmall {
      font-size: 2.8rem;
    }

  }

  &__subtitle {
    font-weight: 300;
    color: $mainPurple;
    font-size: 1.5rem;
    margin: 0;
    text-shadow: 1px 2px 0 rgba(255, 255, 255, .3);

    @mixin atSmall {
      font-size: 1.9rem;
    }

  }

  &__description {
    color: $mainBlue;
    font-size: 1.1rem;
    font-weight: 100;
    text-shadow: 1px 2px 0 rgba(255, 255, 255, .3);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;


    @mixin atSmall {
      font-size: 1.875rem;
    }
  }

}
